* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-dark: #3c23b7f8;
  --primary: #5a4bb5;
  --primary-tr: #3c23b74f;
}

.p-navbar {
  background-color: transparent;
  transition: all 0.5s;
  backdrop-filter: blur(10px);
}

.p-navbar .nav-link {
  color: black;
  transition: all 0.5s;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}

.p-navbar .nav-link:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.p-navbar .navbar-brand {
  color: var(--primary);
  transition: all 0.5s;
}

.p-navbar .p-nav-scrolled {
  background-color: var(--primary-tr);
  backdrop-filter: blur(15px);
}

.p-btn-primary1 {
  background-color: var(--primary) !important;
  color: white !important;
}

.p-btn-primary1:hover {
  background-color: var(--primary-dark) !important;
  color: white !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
